page-register {
	.title{
		text-align: center;
	}
	.toolbar-title-md{
		color: #008b8b!important;
	}
	.item-md{
		color:#416565;
	}
	.button-md{
		background-color:#008b8b!important;
	}
	.button-md-light{
		color: #fff;
	}
	#returnbtn{
		background-color:grey!important;
	}
}
